---
---

@import "palettes";
@import "theme";
@import "mixins";

* {
  box-sizing: border-box;
}
.image-grid {
	display: flex;
	gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
  row-gap: 20px;      /* 줄 간격 */
  margin-bottom: 2em;
}

/* 기본 */
.image-grid img {
  width: 30%;
  height: auto;
  object-fit: cover;
      /* 원본 비율 유지 */
}

/* 태블릿 */
@media (max-width: 900px) {
  .image-grid img {
    width: 45%;
  }
}

/* 모바일 */
@media (max-width: 600px) {
  .image-grid img {
    width: 100%;
  }

  .image-grid.portrait img {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.image-grid.landscape img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.image-grid.square img {
  aspect-ratio: 1 / 1;
}

.image-grid.portrait {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  row-gap: 20px;
    /* 줄 간격 */
}

.image-grid.portrait img {
  flex: 1 1 30%;
  max-width: 30%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 4px;
  box-sizing: border-box;
}
.post-header {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  /* 모바일에서 줄바꿈되도록 */
  margin-bottom: 0.5em;
}

.post-title {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.post-date {
  font-weight: bold;
  font-size: 1em;
  color: #333;
}