---
---

@import "palettes";
@import "theme";
@import "mixins";

ul,
ol {
  margin: 5px 0;
  @include trim-v-margins;
  padding-left: 10px;

  li {
    margin: 5px 0;
    @include trim-v-margins;
    padding-left: 5px;
    text-align: left;
    line-height: $spacing + 0.5;
  }
}




ul {
  list-style-type: disc;
  /* ● 기본 스타일 */

  ul {
    list-style-type: circle;
    /* ○ 서브 리스트 */
  }

  ul ul {
    list-style-type: square;
    /* ■ 서브의 서브 */
  }
}