---
---

@import "palettes";
@import "theme";
@import "mixins";

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}


.truncate:not(:focus) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

[data-hide="true"] {
  display: none !important;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }