{% assign emptyarray = "" | split: "," %}

{% assign id = include.slug | default: include.id | default: "" %}
{% assign posts = site.posts | default: emptyarray %}

{% assign post = nil %}
{% for p in posts %}
  {% if p.slug == id %}
    {% assign post = p %}
  {% endif %}
{% endfor %}

<div class="post_excerpt">
  {% assign url = post.url | default: "" %}
  {% assign title = post.title | default: "" %}
<p class="post-header">
  <span class="post-date">{{ post.date | date: "%Y-%m" }}</span>
  <a href="{{ url | relative_url }}">{{ title }}</a>
</p>

</div>
<!--
<div class="post-card">
  <h3 class="post-title">
    <a href="{{ url | relative_url }}">{{ title }}</a>
  </h3>

  <p class="post-date">
    {{ post.date | date: "%Y-%m" }}
  </p>

  
</div>
-->